<img src="../logo.png" style="float: left;">

# 2. Арифметика, типи, знайомство з рядками
Дисклеймер: перші декілька уроків можуть здатися абстрактно-нуднуватими деяким людям хто не в захваті від математики і ребусів.

Уявіть що ви ніколи не їздили на велосипеді, машині і виросли у Північній Кореї де комунізм досяг такого рівня розвитку що вони перемогли затори на дорогах. І тут ви приходите у мотошколу, де хочете навчитися їздити на мотоциклі по дорогах із інтенсивним трафіком і безпощадними українськими водіями. Таке навчання мало б бути дуже захоплюючим, чи не так?

Натомість перші 99 хвилин заняття вам розповідають про коробку передач, як вмикати сигнал повороту і де ручка газу. Наступні 30+ хвилин ви вчитеся по пам'яті згадувати де кнопка газу, гальм, перемикання передач і зчеплення. Нудно.

Аналогічними є і перші кілька уроків тут. Ми знайомимося з примітивами програмування і ще не пишемо жодних алгоритмів. Це необхідний старт який треба пережити. Тому тримайтеся, коли дійдемо до циклів вже почнуться цікавинки.

## Функція print()

Функція `print()` друкує аргументи які їй були передані. У прикладі `print(1)` - це виклик функції print, а 1 це аргумент. Аргумент це значення що змінює поведінку функції: якщо передати 1 то буде надрукована одиниця, якщо передати 666 буде надруковано 666.

In [1]:
print(1)

1

Функція print може приймати багато аргументів розділених комою, усі з них будуть надруковані.

In [2]:
print(1, 2, -100500)

1 2 -100500

Значок решітки "#" означає початок коментаря у коді, тобто певного повідомлення від програміста собі у майбутнє або просто іншому програмісту який читатиме код. Коментарі ігноруються Пайтоном, вони існують просто для людей.

In [3]:
# print(100500)

У наступних прикладах я покажу приклади **неправильного використання функції print і помилки які виникають у тих випадках**.

In [4]:
print 1

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(1)? (2006075915.py, line 1)

In [13]:
print(1 2 -100500)

SyntaxError: invalid syntax (1066343520.py, line 1)

In [14]:
print 1 2 100500

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(1 2 100500)? (1777364020.py, line 1)

In [15]:
print(1 2, 100500)

SyntaxError: invalid syntax (2782822439.py, line 1)

In [16]:
print

З вікіпедії: Синтаксис комп'ютерної мови — це сукупність правил, що визначають комбінації символів, які вважаються правильно структурованим документом або фрагментом цієї мови.

Помилка синтаксису означає що ви неправильно зкомбінували (забули вжити або додали зайві) символи у коді програми, зазвичай коми, дужки, двокрапки і тд.

## Цілі числа і числа з рухомою комою (дійсні числа)

У Пайтоні є два основних типи чисел: цілі і з рухомою комою (дійсні) числа. Зверніть увагу що хоча традиційно такі числа називаються саме з рухомою **комою** в українській мові, у Пайтоні вони записуються з **крапкою**, бо в англомовному світі прийнято використовувати саме крапку, до того ж кома у Пайтоні це роздільник, наприклад роздільник коли ви передаєте кілька аргументів у функцію `print()` - `print(1, 2, 3)`, і, як ви пам'ятаєте, без цього роздільника ми отримаємо помилку синтаксису.

In [17]:
print(0)
print(-1)
print(1.0)
print(-1.66)

0
-1
1.0
-1.66

Функція `type()` визначає тип аргументу що їй переданий.  
У програмуванні загалом і у Пайтоні теж важливо розуміти з яким типом даних ви працюєте, бо від того залежить які операції можуть виконуватися.

Наприклад, у фізичному світі ви зазвичай не будете забивати цвяхи телефоном (окрім Nokia 3310), бо розумієте що об'єкти **типу** "телефон" не пристосовані для забивання об'єктів **типу** "цвях". Пізніше я детальніше поясню яким чином телефон і цвяхи релевантні у Пайтоні.

In [18]:
print(type(0))

<class 'int'>

Ми викликаємо функцію `print()` і передаємо їй результат роботи виклику функції `type()`.

Ми поки не будемо детально зупинятись на тому що таке class. Проте варто знати що:  
- `int` то є скорочення від integer, integer перекладається як "ціле" (число)
- `float` то скорочення від floating-point, перекладається як (числа з) "плаваючою точкою" або більш загальноприйнято - числа з рухомою комою

In [19]:
print(type(0))
print(type(-1))
print(type(1.0))
print(type(-1.66))

<class 'int'>
<class 'int'>
<class 'float'>
<class 'float'>

## Проста арифметика
Додавання, віднімання, множення, ділення, дужки.

Зверніть увагу як обирається тип результату (int чи float) коли операція відбувається на числах різних типів.

In [20]:
print(1 + 1)
print(1 + 1.)
print(1.2 + 1.)

2
2.0
2.2

In [21]:
print(1 - 2)
print(1 - 8.)
print(13 - 7.1234 + 19)
print(13 + 19 - 7.1234)

-1
-7.0
24.8766
24.8766

In [22]:
print(21 / 3)
print(21. / 3)
print(20 / 3)
print(20 / 3.1 * 1234)

7.0
7.0
6.666666666666667
7961.290322580645

In [23]:
print(2 * 2)
print(2 * 2.)
print(2.0 * 2.1 * 1234)

4
4.0
5182.8

Множення пріоритетніше за додавання. За допомогою дужок це можна обійти.

In [24]:
print(1 + 1 * 3)
print(1 + (1 * 3))
print((1 + 1) * 3)

4
4
6

У Пайтоні можна писати довгі математичні вирази, з дужками чи без, дужки можна нескінченно вкладати арифметичні вирази.

In [25]:
print(((3 + 99.) * 5 - 6 * (88 - 10)) * 50 - 1234)

866.0

## Цікавіша арифметика
Степінь, цілочисельне ділення, остача від ділення.

In [26]:
print(2 ** 3)  # те саме що 2 * 2 * 2
print(2 ** 4)  # те саме що 2 * 2 * 2 * 2
print(1234 ** 4)  # те саме що 1234 * 1234 * 1234 * 1234

8
16
2318785835536

In [27]:
print(2 ** 3 + 3 ** 2 * 2)
print(8 + 9 * 2)
print(8 + 18)

26
26
26

In [28]:
print(25 ** 0.5)
print((25 ** 0.5) ** 2)

5.0
25.0

Степінь 0.5 означає квадратний корінь.

In [29]:
print(7 / 3)
print(7 // 3)  # // означає цілочисельне ділення
print(13 / 5)
print(13 // 5)  # // означає цілочисельне ділення

2.3333333333333335
2
2.6
2

In [30]:
print(2 % 3)  # % означає остачу від ділення
print(4 % 3)
print(7 % 3)
print(13 % 5)

2
1
1
3

In [31]:
print(2 // 3 * 3 + 2 % 3)  # % означає остачу від ділення
print(4 // 3 * 3 + 4 % 3)
print(7 // 3 * 3 + 7 % 3)
print(13 // 5 * 5 + 13 % 5)

2
4
7
13

In [32]:
print(5 % -2)
print(5 // -2 * -2 + 5 % -2)

-1
5

Я не пропроную запам'ятовувати і розуміти як працюють від'ємні остачі, просто знайте що такий езотеричний функціонал існує і мабуть десь використовується. Мені за 7 років у програмуванні не пощастило жодного разу ним скористатися.

## Основи рядків, їх множення і додавання
Рядок (str, string) - фундаментальна і базова структура даних у багатьох мовах програмування. Рядок (тексту) містить в собі нуль або більше символів, серед яких можуть бути літери українського чи англійського алфавіту, цифри, знаки пунктуації, ієрогліфи і не тільки.

Коли ви взаємодієте з програмами ви багато де бачити написи, наприклад у пунктах меню чи кнопках які ви натискаєте пальцем на телефоні чи курсором на екрані комп'ютера. Всередині програм такі шматочки тексту представлені саме типом даних "рядок" (str, string).

Найпростіше що можна розбити із рядками це виводити їх на екран за допомогою `print()`:

In [33]:
print('привіт світ, або hello world')
print("знов привіт, цей раз використовуючи подвійні лапки")

привіт світ, або hello world
знов привіт, цей раз використовуючи подвійні лапки

Часто рядки виділяються окремим кольором у редакторі де ми пишемо код, у даному випадку червоним. Це полегшує сприйняття коду.

Рядки необхідно брати у лапки, одинарні чи двійні. Зараз запам'ятайте це як правило, пізніше ми розберемся чому таке правило існує.

In [34]:
print(привіт світ, або hello world)

SyntaxError: invalid syntax (4123755417.py, line 1)

Рядки можна додавати. Додавання працює просто "дописуючи" доданий рядок праворуч. Додавання рядків ще називають конкатенацією (concatenation), щоб підкреслити що результат операції відрізняється від додавання чисел. Але слово трохи дивне, так.

Те, що всередині рядку є цифри і певні арифметичні значки не змінює того, що це рядок і що додавання працює у "рядковому" стилі.

In [35]:
print('Слава' + ' ' + 'Україні!')
print('Кому' + 'няку на г' + 'ілля' + 'ку')
print('11+' + '2' + '34' + '-8')

Слава Україні!
Комуняку на гілляку
11+234-8

Це наочний приклад чому необхідно розуміти з якими типами даних ви працюєте. Здавалося б одна і та ж операція - додавання, але результати можуть буть неочевидними для початківця.

In [36]:
print(2 + 2)
print('2' + '2')

4
22

Деякі операції не мають смислу на певних типах даних. Віднімання не працює на рядках, тому що незрозуміло що б мало бути результатом такого віднімання.

Можна придумати, що "привіт" - "при" буде дорівнювати "віт". Але придумати, чому буде дорівнювати "привіт" - "Степан" так щоб це мало сенс вже значно гірше. Тому ніхто цим не заморочувався у Пайтоні, бо це була б дивна операція, а головне мало де корисна.

In [37]:
print(5 - 2)
print('5' - '2')

3

TypeError: unsupported operand type(s) for -: 'str' and 'str'

TypeError перекладається як "помилка типу". Не можна віднімати від рядку число і навпаки, не можна додавати рядок до числа і навпаки, тому що результати таких операцій були б або безглузді, або надумані, або двозначні, або все до купи.

Уявімо що 2 + "2" не було б помилкою типу. Який мав би бути результат? 22 чи 4? Це і є двозначність про яку я кажу.

Аналіз причин тих чи інших рішень у дизайні мови, програми, механізму є досить корисним. Такий аналіз формує інтуіції у програмі і дозволяє, наприклад, "вгадувати" те як поведе себе програма написана іншим хорошим програмістом. Погані ж програмісти непередбачувані.

In [38]:
print(2 - '2')

TypeError: unsupported operand type(s) for -: 'int' and 'str'

In [39]:
print('2' - 2)

TypeError: unsupported operand type(s) for -: 'str' and 'int'

In [40]:
print('2' + 2)

TypeError: can only concatenate str (not "int") to str

In [41]:
print(2 + '2')

TypeError: unsupported operand type(s) for +: 'int' and 'str'

Рядки можна множити на числа.

In [42]:
print('привіт ' * 5)
print('2' * 3)

привіт привіт привіт привіт привіт
222

Цікаво що це працює і навпаки.

In [43]:
print(5 * 'привіт ')
print(3 * '2')

привіт привіт привіт привіт привіт
222

Черговий приклад чому важливо знати і розуміти тип даних. Ділення має сенс на числах, але жодного смислу на рядках, тому тут ми отримуємо помилки типів.

In [44]:
print('привіт ' / 7)

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [45]:
print('слава ' / 'Україні')

TypeError: unsupported operand type(s) for /: 'str' and 'str'

Функція `type()` визначає тип будь-якого аргументу, у тому числі рядку.

In [46]:
print(type('привіт'))
print(type('2'))
print(type('2 абв'))

<class 'str'>
<class 'str'>
<class 'str'>

Рядки можуть бути пустими, містити у собі виключно пробіли, починатися чи закінчуватися з будь-якої кількості пробілів. Тобто всередені рядку усі символи рівні між собою у тому сенсі що їх можна переставляти як завгодно і то все одно буде легальний рядок.

In [47]:
print(type(''), '')
print(type(' '), ' ')
print(type('        '), '        ')
print(type('    привіт    '), '    привіт    ')

<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>     привіт

Додавання пустого рядку не змінює рядок. Додавання пробілів просто додає пробіли.

Якщо згадати мою метафору про забивання цвяхів телефоном, то тепер можна сказати що рядки у Пайтоні не призначені для ділення чи віднімання так само як телефони не призначені для забивання цвяхів.

In [48]:
print('привіт' + '', "наступний рядок")
print('привіт' + '   ', "наступний рядок")

привіт наступний рядок
привіт    наступний рядок

### Конвертація між числами і рядками
Пам'ятаєте функцію `type()`, так?

In [49]:
print(type(1))
print(type(1.1))
print(type('1.1'))

<class 'int'>
<class 'float'>
<class 'str'>

Окрім того що `int`, `float` і `str` є типами даних, ці назви можна використовувати як функції для конвертації одних типів даних в інші.

Можна конвертувати між різними типами чисел:

In [50]:
print(1, int(1))
print(1, float(1))
print(1.2, int(1.2))
print(1.2, float(1.2))

1 1
1 1.0
1.2 1
1.2 1.2

Можна конвертувати рядки у числа і навпаки, правда через особливості роботи функції `print()` не очевидно що відбувається під капотом.

In [51]:
print(1, str(1))
print(1.1, str(1.1))
print('1', int('1'))
print('1.1', float('1.1'))

1 1
1.1 1.1
1 1
1.1 1.1

Якщо ми почнемо використовувати арифметичні операції то конвертація стане наочнішою:

In [52]:
print('1' + str(1))

11

Як ви маєте пам'ятати, якщо ми тут видалимо конвертацію то отримаємо помилку типу, бо не можна додавати рядок і число:

In [53]:
print('1' + 1)

TypeError: can only concatenate str (not "int") to str

Більше прикладів, кожен з них буде падати по помилці типу (`TypeError`) якщо ви видалите конвертацію.

In [54]:
print('1' + str(1.1))
print('привіт ' + str(1234))
print('-10' + str(666.666))

11.1
привіт 1234
-10666.666

In [55]:
print(1 + int('666'))
print(1 + float('666'))
print(1 + float('666.666'))

667
667.0
667.666

In [56]:
print(1 + int('-666'))
print(1 + float('-666'))
print(1 + float('+666.666'))

-665
-665.0
667.666

Не всі конвертації мають смисл, тому деякі з них будуть падати з помилкою значення (ValueError).

Не всі рядки можна зконвертувати у числа, але усі числа можна зконвертувати рядки. Чому так?

Тому що числа можуть містити лише цифри, крапку і деякі додаткові символи які нам зараз менш цікаві, а рядки можуть містити будь-які символи, включно з буквами, пробілами і так далі.

In [57]:
print(float('привіт'))

ValueError: could not convert string to float: 'привіт'

In [58]:
print(int('666.666'))

ValueError: invalid literal for int() with base 10: '666.666'

In [59]:
print(int(''))

ValueError: invalid literal for int() with base 10: ''

In [60]:
print(float('   '))

ValueError: could not convert string to float: ''

Будь-яке число можна зконвертувати у рядок, тому я наведу лише один приклад.

In [61]:
print(str(12))

12

Зверніть увагу, що виклик `int('666.666')` видасть помилку значення:

In [62]:
print(int('666.666'))

ValueError: invalid literal for int() with base 10: '666.666'

А наступні конвертації спрацюють нормально:

In [63]:
print(float('666.666'))
print(int(666.666))
print(int(float('666.666')))

666.666
666
666

## Несамовиті конвертації
Конвертації то є виклик функції. Результат виклику однії функції можна передати як аргумент до виклику наступної.

Наступні приклади коду ви ніколи не побачите написаними тверезим розробником, бо вони є ускладненнями без необхідності. Проте такі езотеричні приклади є корисними для розуміння того як працють виклики функцій.

In [64]:
print(int(100))
print(int(int(int(int(100)))))

100
100

In [65]:
print(str(100))
print(str(str(str(str(100)))))

100
100

Якщо ви помилитесь з кількістю дужок:

In [66]:
print(str(str(str(str(100))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))

SyntaxError: unmatched ')' (3886176883.py, line 1)

In [67]:
print(str(str(str(str(100)

SyntaxError: unexpected EOF while parsing (184714954.py, line 1)

Також можливо конвертувати туди-сюди з рядку в число і з числа у рядок:

In [68]:
print(int(str(int(str(int('10'))))) + 12)

22

## Наукова нотація (експоненціальний запис)
Наступні позначення еквівалентні, але наукова нотація накоротша.

In [69]:
print(5972000000000000000000000.)
print(5.972 * 10**24)  # використовуємо степінь
print(5.972e24)  # наукова нотація

5.972e+24
5.972e+24
5.972e+24

Якщо ви будете проводити операції із великими числами то часто будете бачити наукову нотацію:

In [70]:
print(5.5 ** 100)
print(1234 ** 66.6)

1.0870986324892041e+74
7.613592628788492e+205

Ця нотація корисна і для дуже маленьких чисел:

In [71]:
print(100 / 342134123 ** 5)
print(0.0000000000000000000000000000000000000000000000000000000000000000000000281)

2.1331335426608414e-41
2.81e-71

Вставка значка підкреслення не є прикладом наукової нотації, але вона теж робить числа більш читабельними:

In [72]:
print(0.000000001)
print(0.000_000_001)
print(1000000000)
print(1_000_000_000)
print(1_0_0_0_0_0_0_0_0_0)

1e-09
1e-09
1000000000
1000000000
1000000000

Для цілих чисел Пайтон не використовує наукової нотації.

Також зверніть увагу на неточність множення.

In [73]:
print(3.14159265359 * 10**30)
print(int(3.14159265359 * 10**30))
print()
print(666 ** 666)

3.1415926535900004e+30
3141592653590000381996562382848

271541759288712855826087455170021786027838521065016987178223004696578367534784603688013417861287317081040369394618136925376390776734814142359269954981438585309058005792575777286547766974032030622709400636076630337695472357344193883258618859601636747029392705682480231361672383305593666601292142319787714400226324514478109346054646257736974663071867802948304106037331337648245560659985653200111117423345076820028856039271697478224170953365430292002540313209626985629026842226720098365723596644589192169647865964771608482657447815673166354263425761875056075351412658924918167675222004537186685221728745459415025183608088786527610184833513790116757654287910149888366373032818151480800952809005528561125366155648578375191671516389923637068612545908928591509856524061271778433035659907099937099027157651275866007333020305683709128393004786162164158503634595479326165593895852888778701548580946457862112993933286295883107151254097505408450243425177831253342079786634358573748818965808816613570280697021834844832652027344442640175038787842736503395375213097324598270999348133857903750526167553966478796074667482527451958013385703152678559571864116226566032365908052857936209172690002387460244899885396862691793991738773357078062613492707085820369352745180327438422889555512909451485998615969501470146470402649889349212006778573387292851099036349527469520676832881968856724904460084994793476708042987577163193492415961223417659787157202545333783334777830218014905077675699766649698676892834587204825046787698439067298022983708693783338395078457245428904542657506873425865596233432542160135568886423752229229562648133533088569487318295430287726946641649809356760113688980954104973336888392785547924780056268147894207107543052594542403021659363655062233931413319416693234844064515946449947016545969427094539246444208735559647539174640853111520180776757872042024272504000286839563050880598016

До речі у Джаві чи Сі не можна просто так узяти і обчислити `666 ** 666`. Але навіть у Пайтоні є обмеження які можуть бути неінтуітивними для новачка.

In [74]:
print(666. ** 666)

OverflowError: (34, 'Numerical result out of range')

## Двійкові і шістнадцяткові числа
Ніт. Ми не будемо їх тут вчити. А всі хто включають такі теми у курси для початківців є або дивні або просто нехороші люди =). Така зайва технічна інформація лише демотивує початківців у кого немає нестримної тяги до математики та глибоких надр програмування. 

Я не користувався цими числами під час вивчення програмування і у перші два роки роботи.

Якщо дуже коротко, то в десяткових числах використовуємо 10 цифр (від 0 до 9), у двійкових лише дві - 0 і 1, а у шістрадцяткових - 16: від 0 до 9, а також a, b, c, d, e, f.

In [75]:
print(0b111 + 0b100)
print(0x111 * 0x100)
print(0xDeadCafe * 0xBad_C0C0A)

11
69888
11712082864367850988

## Підсумок
- функція `print()` друкує передані аргумент, наприклад `print(1)` або `print(1, 2, 'привіт')`
- є 2 основних типа чисел у Пайтоні: цілі і з (рухомою) крапкою
- числа можна додавати, віднімати, множити, ділити, підносити до степеню, ділити націло, визначати останок від ділення націло
- рядки - один із фундаментальних типів даних, підтримує додавання і множення (і багато інших операцій, які ми розглянемо окремо), але не підтримує ділення і віднімання
- виклик `type()` повертає тип аргументу, типи даних є важливими бо вони задають які операції працюватимуть, а які - ні
- можна викликати `str()`, `int()`, `float()` для конвертації
- кожне число можна конвертувати у рядок, але не кожен рядок можна конвертувати у число
- виклики функцій, наприклад конвертацій, можна нескінченно вкладувати один в одний
- якщо написати код неправильно отримаємо `SyntaxError`
- якщо виконувати операцію на типу (або типах) що не підтримуються (наприклад ділити рядки) отримаємо TypeError
- якщо конвертувати те що не конвертується отримаємо `ValueError`

## Словник англійської термінології
- int - скорочення від integer
- integer - цілий, ціле (число)
- float - скорочення від floating-point 
- floating-point - з рухомою комою (дослівно: плаваюча точка)
- str - скоречення від string
- string - рядок
- type - тип
- print - друкувати, вивести на екран
- concatenate - додати рядки
- concatenation - додавання рядків
- EOF - скорочення від end of file
- end of file - кінець файлу

`SyntaxError: Missing parentheses in call to 'print'. Did you mean print(1)?` - Помилка синтаксису: Відсутні дужки у виклику до 'print'. Ви мали на увазі print(1)?


`SyntaxError: invalid syntax` - Помилка синтаксису: неправильний синтаксис

`TypeError: unsupported operand type(s) for -: 'str' and 'str'` - Помилка типу: непідтримувані типи операндів для - (мінусу): 'str' та 'str'

`TypeError: can only concatenate str (not "int") to str` - Помилка типу: можливо конкатенувати лише str (не int) до str

`ValueError: could not convert string to float: 'привіт'` - Помилка значення: не можу зконвертувати string в float: 'привіт'

`ValueError: invalid literal for int() with base 10: '666.666'` - Помилка значення: неправильний літерал для int() з базою 10: '666.666'. **Ми пізніше розберемо що таке літерал**. "База 10" означає десяткове число, а не, наприклад, двійкове чи шістнадцяткове.

`SyntaxError: unmatched ')'` - Помилка синтаксису: без пари/відповідника: ')'

`SyntaxError: unexpected EOF while parsing` - Помилка синтаксису: раптовий кінець файлу під час парсингу